language: julia
julia:
    - 0.7
    - nightly
matrix:
  allow_failures:
  - julia: nightly
notifications:
    email: false
sudo: false
script:
    - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
    - julia --color=yes -e 'using Pkg; Pkg.build("ForwardDiff"); Pkg.test("ForwardDiff"; coverage=true)';
    - julia --color=yes -O3 -e 'include("test/SIMDTest.jl")';
after_success:
    - julia --color=yes -e 'using Pkg; Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
    - julia --color=yes -e 'using Pkg; Pkg.add("Documenter")'
    - julia --color=yes -e 'include("docs/make.jl")'
